In [1]:
import pandas as pd

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64
customerid                 int64
gender                    object
age                        int64
annual_income_(k$)         int64
spending_score_(1-100)     int64
dtype: object
✅ Cleaned dataset saved as mall_customers_cleaned.csv

In [11]:
# Load dataset
df = pd.read_csv("mall_customers.csv")
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [13]:
# Checking for missing values
print(df.isnull().sum())

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

In [15]:
# Removing duplicates (if any)
df = df.drop_duplicates()

In [17]:
#Standardizin text values (e.g., Gender column)
df['Gender'] = df['Gender'].str.strip().str.lower()  # convert to lowercase
df['Gender'] = df['Gender'].replace({'male': 'Male', 'female': 'Female'})  # make consistent

In [19]:
# 4️⃣ Rename columns to be clean and uniform
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")

In [21]:
# 5️⃣ Verify data types (age, income, score should be integers)
print(df.dtypes)

customerid                 int64
gender                    object
age                        int64
annual_income_(k$)         int64
spending_score_(1-100)     int64
dtype: object

In [23]:
# Save cleaned dataset
df.to_csv("mall_customers_cleaned.csv", index=False)
print("✅ Cleaned dataset saved as mall_customers_cleaned.csv")

✅ Cleaned dataset saved as mall_customers_cleaned.csv